.Home-container {
  /* background-image: url("../../public/home_background_image.png"); */
  background-color: var(--primary);
  border: solid;
  border-width: 8px;
  border-color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* justify-content: center; */
  background-position: fixed;
}

.Home-flexContainer {
  display: flex;
  flex-flow: column;
  width: 55%;
}

.Home-imageContainer {
  display: flex;
  flex-flow: column;
  width: 30%;
  height: 65vh;
}

/* .Home-contentContainer { */
  /* background-position: center center; */
  /* height: 70vh; Ensure the background covers the entire viewport height */
  /* width: 40%; */
  /* display: flex; */
  /* flex-flow: row wrap; */
/* } */

.Home-content {
  order: 1;
  /*position: absolute; */
  text-align: left;
  color: #fffdfb;
  margin-left: 16%;
  margin-top: 24%;
  font-size: 64px;
  font-family: "Courier New", Courier, monospace;
}

.Home-subtitle {
  /* position: absolute;*/
  text-align: left;
  color: #fffdfb;
  left: 10%;
  top: 60%;
  font-size: 26px;
}

.Home-subtitle h4 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.Home-container2 {
  order: 3;
  padding: 4% 4%;
  background-color: #fffdfb;
}

.Home-icon1 {
  transform: scale(2);
}

.Home-loginContainer {
  padding: 16% 0;
}

.Home-loginButton {
  font-family: "Courier Prime", sans-serif;
  text-align: left;
  color: #fffdfb;
  font-size: 60px;
}

.Home-image {
  height: 110px;
  width: 110px;
  margin-left: 5%;
  display: inline-block;
}
