.Profile-flexContainer {
  display: flex;
}

.Profile-bioContainer {
  padding: 20px 20px;
  width: var(--biowidth);
  height: auto;
  margin: 16px;
}

.Profile-image {
  width: var(--biowidthimg);
  height: var(--biowidthimg);
  border-radius: 50%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/axolotl.png");
}

.Profile-name {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.Profile-nameContainer {
  padding: 0;
  margin: 16px;
}

.Profile-content {
  font-size: 22px;
  position: relative;
  text-align: left;
  margin: 0;
}

.Profile-subhead {
  font-size: 16px;
  position: relative;
  text-align: left;
  color: --grey;
  margin: 0;
}

.Profile-subContainer {
  padding: 0;
  margin: 16px;
  /* width: 70vw; */
  flex: 1;
}

.Profile-chartContainer {
  padding: 0;
  margin: 16px;
  flex-direction: column;
  display: flex;
  width: 400px;
}

.Profile-chartSubContainer {
  padding: 0;
  margin: 16px;
  display: flex;
}

.Profile-chartHeader {
  font-size: 30px;
  position: relative;
  text-align: center;
  color: --grey;
  margin: 16px;
  display: flex;
}

.Profile-bookContainer {
  border-style: dotted;
  border-width: 4px;
  border-color: var(--primary);
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Create flexible columns */
}

.Profile-button {
  font-family: "Courier Prime";
  font-style: italic;
  color: var(--white);
  border-width: 2px;
  border-color: var(--primary--dim);
  border-style: dotted;
  border-radius: 10px;
  background-color: var(--primary--dim);
}

.Profile-button:hover {
  font-family: "Courier Prime";
  font-style: italic;
  color: var(--white);
  border-width: 2px;
  border-color: var(--white);
  border-style: dotted;
  border-radius: 10px;
  background-color: var(--primary);
}

.Profile-dataContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Profile-horizontalContainer {
  display: flex;
  margin: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 92%;
  margin-left: 12%;
}

.Profile-histoContainer {
  width: 800px;
  padding: 0;
  margin: 16px;
  margin-left: 12%;
  flex-direction: column;
  display: flex;
}

